<?xml version="1.0" encoding="UTF-8"?>


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!--Product Id="*"
           Name="STL Thumbnail"
           Language="1033"
           Version="!(bind.fileVersion.Marlin3DprinterTool.exe)"
           Manufacturer="Cabbagecreek"  
           UpgradeCode="949b3c33-bdd2-4519-b2e1-823cfc2806f1"
           
  -->

    <Product Id="*"
             Name="STL Thumbnail"
             Language="1033"
             Version="1.0.0"
             Manufacturer="Cabbagecreek"
             UpgradeCode="949b3c33-bdd2-4519-b2e1-823cfc2806f1"
           
    >

   
    
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" />
    
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch STL thumbnail configuration" />
    <Property Id="WixShellExecTarget" Value="[#Marlin3DprinterToolStlConfiguration.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    
    <WixVariable Id="WixUILicenseRtf" Value="$(var.Marlin3DprinterToolStlConfiguration.TargetDir)\Licence.rtf" />


    <Icon Id='Marlin3DprinterTool.ico' SourceFile="$(var.Marlin3DprinterToolStlConfiguration.TargetDir)\Marlin3DprinterTool.ico" />
    <Property Id="ARPPRODUCTICON" Value="Marlin3DprinterTool.ico" />
    

    <MajorUpgrade
      Schedule="afterInstallInitialize" 
      AllowDowngrades="no"
      DowngradeErrorMessage="A newer version of Marlin3DprinterTool is already installed. Uninstall and delete C:\program Files(86)\Marlin3dprinterTool."
      AllowSameVersionUpgrades ="no" />
    
    <MediaTemplate EmbedCab="yes" />





    <Feature Id="ProductFeature" Title="Marlin3DprinterTool" Level="1">

      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ProductDLL"/>
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentGroupRef Id="ProgramDataPermission"/>




    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UI>
      <UIRef Id="WixUI_Minimal" />
      <Publish Dialog="ExitDialog" 
               Control="Finish" 
               Event="DoAction" 
               Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>

    </UI>



  </Product>




  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Marlin3DprinterTool" >

          <Directory Id="locales" Name="locales" />
        </Directory>
        
        
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Marlin3DprinterTool" />
        <Directory Id="DesktopFolder" Name="Desktop"></Directory>

      </Directory>


      <Directory Id="CommonAppDataFolder">
        <Directory Id="CommonAppDataManufacturerFolder" Name="cabbagecreek">
          <Directory Id="Marlin3DprinterToolConfiguration" Name ="Marlin3DprinterTool"/>


        </Directory>
      </Directory>



    </Directory>



  </Fragment>



  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{04BCF613-9A80-4979-AEF3-F4E8576CCFBD}">
        
        
        <Shortcut Id="ApplicationStartMenuShortcutMarlinStlViewer"
                  Name="Marlin3DprinterStl"
                  Description="STL viewer"
                  Target="[INSTALLFOLDER]Marlin3DprinterStlViewer.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon ="Marlin3DprinterTool.ico"  />
        <Shortcut Id="ApplicationStartMenuShortcutMarlinStlViewerConfiguration"
                  Name="Marlin3DprinterToolStlConfiguration"
                  Description="STL configuration"
                  Target="[INSTALLFOLDER]Marlin3DprinterToolStlConfiguration.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon ="Marlin3DprinterTool.ico"  />
        <Shortcut Id="ApplicationStartMenuShortcutMarlinConfiguration"
                  Name="MarlinConfigurator"
                  Description="Marlin Configuration"
                  Target="[INSTALLFOLDER]MarlinConfigurator.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon ="Marlin3DprinterTool.ico"  />
        
        
        
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Marlin3DprinterTool" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="{1C8952E2-61FF-425A-9E4D-C16B73FEA935}">
        <Shortcut Id="ApplicationDesktopShortcut"
                  Name="Marlin3DprinterTool"
                  Description="Tool to configure a Marlin-based 3D printer"
                  Target="[INSTALLFOLDER]Marlin3DprinterTool.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon ="Marlin3DprinterTool.ico"  />
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Marlin3DprinterTool" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>






  <Fragment>

    <ComponentGroup Id="ProgramDataPermission" Directory="Marlin3DprinterToolConfiguration">
      <Component Id ="Marlin3DprinterConfigurationFiles" Guid="{73359C75-511D-4B1D-9DAF-F50201D375E4}" >
        <CreateFolder>
          <util:PermissionEx  User="Users" Domain="[MachineName]" GenericAll="yes"/>

        </CreateFolder>


      </Component>
      <Component Id="Marlin3DprinterToolConfiguration" Guid="{CB8CFECD-23D5-4C21-99B1-975CC70DEFD6}">
        <File Source="$(var.Marlin3DprinterToolConfiguration.TargetDir)\Marlin3DprinterToolConfiguration.xml" />
      </Component>
     
    </ComponentGroup>
  </Fragment>


  <Fragment>



    <ComponentGroup Id="ProductDLL" Directory="INSTALLFOLDER">
      
          
      <!-- Marlin3DprinterToolStlThumbnail.dll -->
      <Component Id="Marlin3DprinterToolStlThumbnail.dll" Guid="{9CD0BC04-9B3C-49E8-ABB2-A2B8D1EE6F2B}"> 
        <File Source="$(var.Marlin3DprinterToolStlThumbnailProvider.TargetDir)\Marlin3DprinterToolStlThumbnail.dll" /> 
      </Component> 
      
      
     

      
      <!-- Marlin3DprinterToolConfiguration.dll -->
      <Component Id="Marlin3DprinterToolConfiguration.dll" Guid="{04936735-1EB7-4F97-9FEC-C354CF15E8D5}">
        <File Source="$(var.Marlin3DprinterToolConfiguration.TargetDir)\Marlin3DprinterToolConfiguration.dll" />
      </Component>
      

     



      <!--LogicNP.EZShellExtensions.dll -->
      <Component Id="LogicNP.EZShellExtensions.dll" Guid="{1D6B189A-1F51-46F2-9613-D6AE4301A114}">
        <File Source="$(var.Marlin3DprinterToolStlConfiguration.TargetDir)\LogicNP.EZShellExtensions.dll" />
      </Component>
      

        
      <!--HelixToolkit.Wpf.dll -->
      <Component Id="HelixToolkit.Wpf.dll" Guid="{8AF5F26B-E1FF-4194-B5FD-66D2FE9A14CC}">
        <File Source="$(var.Marlin3DprinterStlViewer.TargetDir)\HelixToolkit.Wpf.dll" />
      </Component>

      
      
      <!--AutoUpdater.dll -->
      <Component Id="AutoUpdater.dll" Guid="{BDC38DA6-9A6F-4B06-B22F-B57A37D67BBC}">
        <File Source="$(var.Marlin3DprinterToolStlConfiguration.TargetDir)\AutoUpdater.dll" />
      </Component>

      

    </ComponentGroup>

  </Fragment>

  
    
    


  
 
  
  
  
  <Fragment>



    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">


     
      <!-- Marlin3DprinterStlViewer.exe -->
      <Component Id="Marlin3DprinterStlViewer.exe" Guid="{73837F95-9A75-4B4F-B4C0-D64DE447A422}">
        <File Source="$(var.Marlin3DprinterStlViewer.TargetDir)\Marlin3DprinterStlViewer.exe" />
      </Component>

      <!-- Marlin3DprinterToolStlConfiguration.exe -->
      <Component Id="Marlin3DprinterToolStlConfiguration.exe" Guid="{9BB9435E-B50F-48F7-BCF1-73E8D34D083D}">
        <File Source="$(var.Marlin3DprinterToolStlConfiguration.TargetDir)\Marlin3DprinterToolStlConfiguration.exe" />
      </Component>
      
      <!-- RestartExplorer.exe -->
      <Component Id="RestartExplorer.exe" Guid="{149EFA5C-AD7B-4058-8F30-A2C8DC0924DB}">
        <File Source="$(var.Marlin3DprinterToolStlConfiguration.TargetDir)\RestartExplorer.exe" />
      </Component>
      
      <!-- RegisterExtensionDotNet40.exe -->
      <Component Id="RegisterExtensionDotNet40.exe" Guid="{996974BA-D0AF-4499-AD38-ACCF7E61226A}">
        <File Source="$(var.Marlin3DprinterToolStlConfiguration.TargetDir)\RegisterExtensionDotNet40.exe" />
      </Component>
      



      <!-- Marlin3DprinterTool.ico -->
      <Component Id="Marlin3DprinterTool.ico" Guid="{A4F635B3-9EB0-41C5-A7D9-BCB84B66782E}">
        <File Source="$(var.Marlin3DprinterToolStlConfiguration.TargetDir)\Marlin3DprinterTool.ico" />
      </Component>




      <!--Licence.rtf -->
      <Component Id="Licence.rtf" Guid="{17C56FA8-5222-47E6-8C71-23997E59755C}">
        <File Source="$(var.Marlin3DprinterToolStlConfiguration.TargetDir)\Licence.rtf" />
      </Component>



    </ComponentGroup>
  </Fragment>
</Wix>